*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --primary-dropdown: #de4a3f;
  --extra-dropdown: #c64236;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.session {
  width: 100%;
  height: 100vh;
  background-color: #2d3e50;
}

.dropdown {
  width: 47.5rem;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}
.dropdown__select {
  width: 100%;
  height: 8rem;
  background-color: var(--primary-dropdown);
  padding: 3rem;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.dropdown__list {
  margin-top: 3rem;
  border-radius: 4px;
  /* overflow: hidden; */
  display: none;
  position: relative;
}
.dropdown:hover .dropdown__list {
  display: block;
}
.dropdown__item {
  padding: 3rem;
  background-color: var(--primary-dropdown);
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.25s ease-out;
  position: relative;
}
.dropdown__item:first-child {
  border-radius: 4px 4px 0 0;
  position: relative;
}
.dropdown__item:first-child:before {
  content: "";
  position: absolute;
  top: 0;
  left: 3rem;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--primary-dropdown);
  transform: translateY(-100%);
  transition: border-bottom-color 0.25s ease;
}
.dropdown__item:first-child:hover:before {
  border-bottom-color: var(--extra-dropdown);
}
.dropdown__item:hover {
  background-color: var(--extra-dropdown);
}
.dropdown__item:last-child {
  border-radius: 0 0 4px 4px;
}
