:root {
  --session3-background: #5e489d;
  --session3-primary: #9575f4;
  --session3-border: #ccc;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.6rem;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

@mixin size($width: width, $height: $width) {
  width: $width;
  height: $height;
}
b {
  font: revert;
}
.session1 {
  background-color: #6a6b70;
  width: 100vw;
  height: 100vh;
  display: flex;
}
.card {
  @include size(67rem, 36rem);
  margin: auto;
  position: relative;
  display: flex;
  &-left {
    background-color: #4360db;
    width: 50%;
    padding: 5rem;
    &__box {
      margin-top: 3rem;
      display: flex;
      align-items: center;
    }
    &__title {
      color: white;
      font-size: 3rem;
      font-weight: bold;
      text-transform: uppercase;
    }
    &__icon {
      color: white;
      opacity: 0.4;
      font-size: 2rem;
      margin-left: 0.5rem;
    }
    &__circle {
      @include size(2.5rem);
      border-radius: 50%;
      background-color: #f5a037;
      margin-left: auto;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        background-color: #eb3f47;
        top: 0;
        left: -70%;
        right: 70%;
        bottom: 0;
        border-radius: 50%;
      }
    }
    &__account {
      margin-top: 10rem;
      color: #fdfffe;
    }
    &__name {
      font-size: 3rem;
      margin-bottom: 3rem;
    }
    &__number {
      font-size: 2.2rem;
      opacity: 0.6;
      letter-spacing: 2px;
      margin-bottom: 2.5rem;
    }
    &__box2 {
      display: flex;
      justify-content: space-between;
      font-size: 2.2rem;
      opacity: 0.6;
      letter-spacing: 2px;
    }
  }
  &-right {
    background-color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    &__formart {
      content: "";
      position: absolute;
      @include size(9.5rem);
      background-color: #f585dd;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 3rem;
      font-weight: bold;
      right: -3rem;
      top: -7rem;
      box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.2);
    }
    &__watch {
      @include size(15rem);
      margin-top: 6rem;
      position: relative;
    }
    img {
      @include size(100%);
      object-fit: cover;
    }
    &__number {
      @include size(3rem);
      background-color: #f2545c;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 1.3rem;
      position: absolute;
      content: "";
      top: 2rem;
      right: 1rem;
    }
    &__price {
      margin-top: 1.5rem;
      font-size: 3rem;
      color: #6e6d6d;
    }
    &__pay {
      background-color: #8f94b0;
      @include size(100%, 6.5rem);
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 1.8rem;
      margin-top: auto;
      cursor: pointer;
      transition: background-color 0.25s ease-out;
      i {
        margin-right: 1rem;
      }
      &:hover {
        background-color: #a2a8c9;
      }
    }
  }
}

.session2 {
  background: linear-gradient(to bottom, #5d738f, #eff3f4);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  @include size(70rem, 42rem);
  background-color: white;
  padding: 2rem;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #757474;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
  &__name {
    // display: flex;
    // justify-content: center;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -2rem;
  }
  &__box {
    width: calc(50% - 0.5rem);
    margin-top: 2rem;
  }
  &__box label {
    display: block;
  }
  &__box input {
    font-size: 1.6rem;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 0.9rem 1rem;
    outline: 0;
    border-top-color: #ccc;
  }
  &__submit {
    background-color: #4a6280;
    padding: 0.8rem 5rem;
    display: inline;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.9;
    transition: opacity 0.25s linear;
    &:hover {
      opacity: 1;
    }
  }
}

.session3 {
  background-color: var(--session3-background);
  @include size(100vw, 100vh);
  display: flex;
  justify-content: center;
  align-items: center;
}
.shopping {
  @include size(75rem, 49rem);
  background-color: white;
  border-radius: 5px;
  padding: 4rem 3.5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &-head {
    padding-left: 3rem;
    color: var(--session3-primary);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    &__logo {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 2.5rem;
    }
    &__breadcrumb {
      color: #ccc;
    }
    &__item {
      display: inline-block;
      font-size: 1.6rem;
      a {
        text-decoration: none;
        color: #ccc;
        &.active {
          color: var(--session3-primary);
        }
      }
      & i {
        padding: 0rem 0.8rem;
        font-size: 1.2rem;
      }
    }
    &__cart {
      cursor: pointer;
      font-size: 2.2rem;
    }
  }
  & form.shopping-body {
    max-width: 100%;
    height: 37rem;
    display: flex;
    justify-content: space-between;
  }
  &-personal {
    width: calc(50% - 1rem);
    border: 1px solid var(--session3-border);
    height: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    &__title {
      margin: 0 auto;
      font-size: 2rem;
      margin-bottom: 1.7rem;
    }
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
    &__box {
      width: 100%;
      &.two {
        display: flex;
        justify-content: space-between;
      }
      & label {
        display: block;
        margin: 0.4rem 0;
        font-size: 1.2rem;
        color: #ccc;
        font-weight: bold;
      }
      &-left,
      &-right {
        width: calc(50% - 1.25rem);
      }
      & input {
        width: 100%;
        border: 0.5px solid #e3e3e3;
        padding: 0.7rem;
        font-size: 1.2rem;
        border-radius: 2px;
        outline: none;
        transition: 0.25s linear;
        &:focus {
          border-color: var(--session3-primary);
        }
      }
    }
    &__phone {
      display: flex;
      input {
        width: 20%;
        cursor: not-allowed;
        text-align: center;
        background-color: #eee;
        + input {
          text-align: unset;
          background-color: unset;
          cursor: unset;
          width: 80%;
          padding: 0 1.5rem;
        }
      }
    }
  }
  &-delivery {
    width: calc(50% - 1rem);
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #ccc;
    &__content {
      width: 100%;
      height: 23rem;
      padding: 3rem 3rem 1.5rem;
      border: 1px solid var(--session3-border);
      display: flex;
      flex-direction: column;
      margin-bottom: 2.5rem;
      & label {
        display: block;
        margin: 0.4rem 0;
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
    &__title {
      margin: 0 auto;
      font-size: 2rem;
      margin-bottom: 1.7rem;
      color: black;
    }
    &__box {
      width: 100%;
      height: 8.5rem;
      display: flex;
      margin-bottom: 1.5rem;
      justify-content: space-between;
    }
    &__item {
      width: calc(50% - 1.25rem);
      height: 100%;
      border: 1px solid var(--session3-border);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-weight: bold;
      border-radius: 4px;
      & p {
        color: var(--session3-primary);
        font-size: 3rem;
        & + p {
          color: black;
          opacity: 0.5;
          font-size: 1.4rem;
          margin-top: 1rem;
        }
      }
    }
    &__text {
      font-size: 1.2rem;
      color: black;
      opacity: 0.4;
    }
    &__btn {
      background-color: var(--session3-primary);
      padding: 2rem;
      outline: none;
      border: 0;
      border-radius: 4px;
      font-size: 1.6rem;
      color: white;
      cursor: pointer;
      margin-top: auto;
      opacity: 0.9;
      transition: 0.25s linear;
      &:hover {
        opacity: 1;
      }
    }
  }
}
