*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.7rem;
  line-height: 1;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}