@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;800&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}
