.service {
  padding: 11rem 0;
  &__main {
    @include flex(space-between);
  }
  &__left,
  &__right {
    width: calc(50% - 1.5rem);
  }
  &__row {
    @include flex(null, center);
    padding: 1.5rem;
    border: 1px solid #e5e5e5;
  }
  &__title {
    margin-left: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #333;
    font-size: 1.4rem;
  }
  &__icondown {
    margin-left: auto;
    font-size: 2rem;
    cursor: pointer;
  }
  &__content {
    padding: 2rem;
    margin: 0;
    border: 1px solid #e5e5e5;
    border-top: none;
    line-height: 1.5;
  }
}
