* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  font-size: 1.5rem;
}

#wrapper {
  width: 100%;
}

#header {
  background-color: #000;
  height: 4.5rem;
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.nav .list-item {
  display: inline-block;
  transition: 0.2s ease-out;
  position: relative;
}
.nav .list-item:hover {
  background-color: #ccc;
  cursor: pointer;
}
.nav .list-item:hover a {
  color: #000;
}
.nav .list-item > a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.7rem;
  padding: 1.2rem 2.4rem;
  display: inline-block;
}
.nav .nav-sub {
  position: absolute;
  left: 0;
  top: 100%;
  background-color: white;
  min-width: 16rem;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-2em);
  transition: transform 0.25s ease-out;
}

.nav i {
  color: white;
}
.nav .list-item:hover .nav-sub {
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.nav-sub .list-itemsub {
  list-style-type: none;
}
.nav-sub .list-itemsub > a {
  color: black;
  text-decoration: none;
  line-height: 4rem;
  font-size: 1.7rem;
  padding-left: 2.4rem;
  width: 100%;
  display: inline-block;
}
.nav-sub .list-itemsub:hover {
  background-color: #ccc;
}
.search {
  margin-left: auto;
  cursor: pointer;
  transition: background-color 0.25s linear;
}
.search i {
  color: white;
  font-size: 1.5rem;
  padding: 1.2rem 2.4rem;
}
.search:hover {
  background-color: #f44336;
}

#slider {
  width: 100%;
  padding-top: 50%;
  background: url("../images/slider1.jpg") center center / cover no-repeat;
  position: relative;
}
.text-content {
  position: absolute;
  bottom: 4.8rem;
  color: white;
  width: 100%;
  text-align: center;
}
.text-city {
  font-size: 2.4rem;
  font-weight: 500;
}
.text-desc {
  font-size: 1.5rem;
  margin-top: 2.5rem;
}

#about {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding: 6.4rem 2rem;
}
.section-content {
  text-align: center;
}
.content-title {
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
}
.content-titlesub {
  margin-top: 2.7rem;
  font-style: italic;
  opacity: 0.6;
  margin-bottom: 2.5rem;
}
.about-desc {
  line-height: 1.4;
  text-align: justify;
}